<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
        <!-- Automatic Slideshow Images -->

        <!-- <div class="mySlides w3-display-container w3-center">
             <img src="https://razorpay.com/learn-content/uploads/2019/09/register-company-online.png" style="width:1600px">
             <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
             <h3>Los Angeles</h3>
             <p><b>We had the best time playing at Venice Beach!</b></p>
             </div>
             </div>
             <div class="mySlides w3-display-container w3-center">
             <img src="https://assets.entrepreneur.com/content/3x2/2000/20150805204041-google-company-building-corporate.jpeg?width=600&crop=16:9" style="width:1600px">
             <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
             <h3>New York</h3>
             <p><b>The atmosphere in New York is lorem ipsum.</b></p>
             </div>
             </div>
             <div class="mySlides w3-display-container w3-center">
             <img src="https://images.squarespace-cdn.com/content/v1/5c7dbb8801232c766eb292bd/1555135732659-YYAX5XQ9MWSSGEW2H7NY/ke17ZwdGBToddI8pDm48kMR_HuCYqywc-QNHQxPI29V7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UZk1xHjxPtjXzMoIWLi_Ljt82A3ZqVnCD6hD87w-3wf3kDCIO_D4RfMcugCbVdMU5g/1+Cover.jpg?format=1500w" style="width:100%">
             <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
             <h3>Chicago</h3>
             <p><b>Thank you, Chicago - A night we won't forget.</b></p>
             </div>
             </div> -->

        <!-- The Band Section -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <h2 class="w3-wide">TEAM NAME</h2>
            <p class="w3-opacity"><i>TEAM DESCRIPTION</i></p>
            <p class="w3-justify">
                HCMUT is a center of technology - industry and management
                training. Up to May 2005, HCMUT has 11 faculties, 14 research
                and development (R&D) centers, 4 training centers, 10 functioning offices and one joint-stock company. During the past 40 years since Vietnam's unification, 60,000 Engineers and Bachelors have graduated from HCMUT. Up to now, HCMUT have trained 60,000 Engineers and Bachelors, more than 10,000 Masters and 200 Doctors.
            </p>
            <div class="w3-row w3-padding-32">
            <div class="w3-col" style="width: 20%"">
                <p>Nguyễn Gia Huy</p>
                <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width:60%">
            </div>
            <div class="w3-col" style="width: 20%">
                <p>Lê Trung Đan</p>
                <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width:60%">
            </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

<script>
    <%- include('../partials/script'); %>
</script>

</body>
</html>
